###
### NAMESPACE
###
import(methods)
import(Thresher)

importFrom("stats", "dist", "hclust", "cmdscale", "as.dist",
           "rbinom", "as.dendrogram", "as.hclust", "quantile")
importFrom("utils", "data")
importFrom("graphics", "hist", "par")
importFrom("grDevices", "dev.interactive", "devAskNewPage")
importFrom("cluster", "pam")
importFrom("Rtsne", "Rtsne")
importFrom("ClassDiscovery", "plotColoredClusters")
importFrom("Polychrome", "dark.colors")
importFrom("dendextend", "prune")
importFrom("igraph", "vertex_attr", "set_vertex_attr",
           "layout_nicely", "graph_from_data_frame")

# 01-metrics
export("binaryDistance")

# 02-binaryMatrix
exportClasses("BinaryMatrix")
export("BinaryMatrix", "removeDuplicateFeatures")

exportMethods("[", "dim", "summary", "t")

# 03-thresh
exportClasses("ThreshedBinaryMatrix")
export("threshLGF")

# 04-vis
exportClasses("Mercator")
export("Mercator", "addVisualization", "getClusters")

exportMethods("hist", "plot")

export(setClusters, recolor, remapColors)

# 05-graph
export(downsample)

