###
### NAMESPACE
###
import(methods)
importFrom("graphics", "image", "barplot", "abline", "layout",
           "legend", "lines", "mtext", "par")
export("makeIdiogram", "biIdiogram", "stackIdiogram")

exportClasses("Chromosome")
export("Chromosome")
exportMethods("image")


