###
### NAMESPACE
###
import(methods)
importFrom("graphics", "image", "barplot", "abline", "layout",
           "legend", "lines", "mtext", "par",
           "axis", "plot", "rect", "text")
importFrom("grDevices", "palette", "col2rgb", "rgb")

exportClasses("Chromosome", "CytobandData")
export("Chromosome", "CytobandData")
exportMethods("image", "barplot", "summary")

export("singles", "showGenome")
