###
### NAMESPACE
###
import(methods)
importFrom("graphics", "image", "barplot", "abline", "layout",
           "legend", "lines", "mtext", "par")
importFrom("grDevices", "palette")
#export("makeIdiogram", "biIdiogram", "stackIdiogram")

exportClasses("Chromosome")
export("Chromosome")
exportMethods("image")

export("plot1Chrom")
