###
### NAMESPACE
###
import(methods)
importFrom("graphics", "image", "barplot", "abline", "layout",
           "legend", "lines", "mtext", "par",
           "axis", "plot", "rect", "text")
importFrom("grDevices", "palette")
#export("makeIdiogram", "stackIdiogram")

exportClasses("Chromosome")
export("Chromosome")
exportMethods("image")

export("plot1Chrom", "singles",
       "showGenome",  "genomeBarplot",
       "makeIdiogram",
       "plot2Chrom", "biIdiogram")
