###
### NAMESPACE
###
import(methods)
import(stats)
import(graphics)
import(MASS)
import(colorspace)
import(movMF)
import(ade4)
import(changepoint)
import(kernlab)

import(oompaBase)
import(ClassDiscovery)

# redefined S3 methods
importMethodsFrom(oompaBase, "summary", "plot", "image")
importMethodsFrom(ClassDiscovery, "screeplot")

# compute number of PCs using broken-stick model
export(brokenStick, bsDimension)

# compute number of PCs using Auer-Gervini method
exportClasses("AuerGervini")
export(AuerGervini, agDimension)

export(agDimNaive,
       agDimKmeans, agDimKmeans3, agDimKmeans3,
       agDimSpectral, agDimTtest, agDimTtest2,
       agDimCPT)

# match labels in two different cluster assignments
export(labelMatcher, matchLabels,
       countAgreement, labelAccuracy,
       bestMetric)

# misc
export(unitize)

# thresher
export(thresherPalette, samplePalette)
exportClasses("Thresher", "SimThresher")
export(Thresher, SimThresher)

# reaper
exportClasses("Reaper")
export("Reaper")

# new methods for new classes
exportMethods("plot", "image", "screeplot")

# novel generic functions
exportMethods("makeFigures", "getColors", "getStyles", "getSplit", "scatter", "heat")


#importFrom(stats, "anova")
#exportMethods("show")
#exportClasses("Bum")
#export("Bum")
