###
### NAMESPACE
###
import(methods)
import(stats)
import(graphics)
importFrom(MASS, mvrnorm)
importFrom(ade4, dist.binary)
importFrom(kernlab, specc)
importFrom(changepoint, cpt.mean, cpts)
importFrom(cpm, detectChangePointBatch)
import(colorspace)
import(movMF)

import(oompaBase)
import(ClassDiscovery)

# redefined S3 methods
importMethodsFrom(oompaBase, "summary", "plot", "image")
importMethodsFrom(ClassDiscovery, "screeplot")

# compute number of PCs using broken-stick model
export(brokenStick, bsDimension)

# compute number of PCs using Auer-Gervini method
exportClasses("AuerGervini")
export(AuerGervini, agDimension)
# lots of ways to automate the count
export(agDimTwiceMean,
       agDimKmeans, agDimKmeans3,
       agDimSpectral, agDimTtest, agDimTtest2,
       agDimCPT, makeAgCpmFun)

# match labels in two different cluster assignments
export(labelMatcher, matchLabels,
       countAgreement, labelAccuracy,
       bestMetric)

# misc
export(unitize)

# thresher
export(thresherPalette, samplePalette)
exportClasses("Thresher", "SimThresher")
export(Thresher, SimThresher)

# reaper
exportClasses("Reaper")
export("Reaper")

# new methods for new classes
exportMethods("plot", "image", "screeplot")

# novel generic functions
exportMethods("makeFigures", "getColors", "getStyles",
              "getSplit", "scatter", "heat")
