###
### NAMESPACE
###
import(methods)

importFrom("stats", "dist", "hclust", "cmdscale", "as.dist",
           "rbinom", "as.dendrogram", "as.hclust")
importFrom("utils", "data")
importFrom("cluster", "pam")
importFrom("Rtsne", "Rtsne")
importFrom("Polychrome", "dark.colors")
importFrom("Thresher", "Thresher", "Reaper", "remap")
importFrom("dendextend", "prune")
# redefined S3 methods
#importMethodsFrom(oompaBase, "summary", "plot", "image")


# 01-metrics
export("binaryDistance")

# 02-binaryMatrix
exportClasses("BinaryMatrix")
export("BinaryMatrix", "removeDuplicateFeatures")

exportMethods("[", "dim", "summary", "t")

# 03-thresh
exportClasses("ThreshedBinaryMatrix")
export("threshLGF")

# 04-vis
exportClasses("DistanceVis")
export("DistanceVis", "addVisualization")

exportMethods("hist")

export(recolor)

# 05-graph
export(downsample)


# new methods for new classes
# exportMethods("plot", "image", "screeplot")
